option_settings:
  aws:elasticbeanstalk:application:environment:
    HOST: 0.0.0.0
    PORT: 8080
    APP_URL: http://ecommerce-vc-api-dev.eu-west-3.elasticbeanstalk.com/api
    APP_KEY: Fd5NUH0mTFIpoqidJVicJkvLAiCHKMx3
    APP_NAME: EcommerceVC
    NODE_ENV: development
    DB_CONNECTION: pg
    PG_HOST: ecommerce-vc-db.cluster-cegucgszwhia.eu-west-3.rds.amazonaws.com
    PG_PORT: 5430
    PG_USER: victorcanas
    PG_PASSWORD: 2ggkguJiaKccjXzqhtWg
    PG_DB_NAME: postgres
    API_TOKEN_EXPIRY: 7days
    ACTIVATION_TOKEN_EXPIRY: 3h
    UPDATE_TOKEN_EXPIRY: 3h
    DEV_CORS_ORIGIN: http://localhost:3000
    PROD_CORS_ORIGIN: https://ecommerce-vc-web.herokuapp.com
    DRIVE_DISK: s3
    S3_KEY: AKIAU23EELOU6GCH6MNP
    S3_SECRET: 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
    S3_BUCKET: ecommerce-vc-api-products
    S3_REGION: eu-west-3
    SMTP_HOST: smtp.gmail.com
    SMTP_PORT: 587
    SMTP_USERNAME: victorcanas972@gmail.com
    SMTP_PASSWORD: zelpismnlnsgibfj
    BRAINTREE_MERCHANT_ID: yttkw9kp4z58xcx5
    BRAINTREE_PUBLIC_KEY: smqqj9wp2dq6j347
    BRAINTREE_PRIVATE_KEY: 07f70daed9e837c81f686c950702840c
    BIGBUY_API_KEY: ZTU5MTExMjlmMThhNmYyM2YwOTBiZjhmMGI1YzdmZTUzMjkyMjlkOGE3OTBiZjNjNDg4ZTIwZGIzYWZlYWRiZQ
    BIGBUY_API_URL: https://api.sandbox.bigbuy.eu
