<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  </head>
  <body style="padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;" marginheight="0" marginwidth="0">
    <table cellpadding="8" cellspacing="0" style="padding: 0; width: 100% !important; margin: 0;" border="0">
      <tr>
        <td valign="top" style="color: #525C66; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; -webkit-text-size-adjust: none;">

          @!component('emails/header', {
            i18n,
            appName,
            appDomain,
            username: firstName,
          })

          <div style="text-align: center;">
            <p style="font-size: 18px;">
              {{ t('messages.emails.checkOrder.description') }}
            </p>
            <ul style="list-style-type: disc; line-height: 24px; display: inline-block; text-align: left;">
              <li>
                {{ t('messages.emails.checkOrder.numberField', { id: order.bigbuyId }) }}
              </li>
              <li>
                {{ t('messages.emails.checkOrder.statusField', { status: order.bigbuy.status }) }}
              </li>
              <li>
                {{ t('messages.emails.checkOrder.dateField', { orderDate: new Date(order.createdAt) }) }}
              </li>
              <li>
                @if(order.transaction?.creditCard?.cardType && order.transaction?.creditCard?.last4)
                  {{ t('messages.emails.checkOrder.paidCard', { cardType: order.transaction.creditCard.cardType, last4: order.transaction.creditCard.last4 }) }}
                @elseif(order.transaction?.paypalAccount?.payerEmail)
                  {{ t('messages.emails.checkOrder.paidPaypal', { payerEmail: order.transaction.paypalAccount.payerEmail }) }}
                @end
              </li>
              @if(order.transaction?.billing?.addressLine1)
                <li>
                  {{ t('messages.emails.checkOrder.billing') }}
                  <ul style="list-style-type: disc;">
                    <li>
                      {{order.transaction.billing.firstName}} {{order.transaction.billing.lastName}}
                    </li>
                    <li>
                      {{order.transaction.billing.addressLine1}}
                    </li>
                    @if(order.transaction.billing.addressLine2 && order.transaction.billing.addressLine2 !== '')
                      <li>
                        {{order.transaction.billing.addressLine2}}
                      </li>
                    @end
                    <li>
                      {{order.transaction.billing.postalCode}} {{order.transaction.billing.locality}}
                    </li>
                    <li>
                      {{order.transaction.billing.country}}
                    </li>
                  </ul>
                </li>
              @end
              <li>
                {{ t('messages.emails.checkOrder.shipping') }}
                <ul style="list-style-type: disc;">
                  <li>
                    {{order.bigbuy.shippingAddress.firstName}} {{order.bigbuy.shippingAddress.lastName}}
                  </li>
                  <li>
                    {{order.bigbuy.shippingAddress.address}}
                  </li>
                  <li>
                    {{order.bigbuy.shippingAddress.postcode}} {{order.bigbuy.shippingAddress.town}}
                  </li>
                  <li>
                    {{order.bigbuy.shippingAddress.country}}
                  </li>
                </ul>
              </li>
              <li>
                {{ t('messages.emails.checkOrder.products') }}
                <ul style="list-style-type: disc;">
                  @each(item in order.items)
                    <li>
                      @if(item.pack)
                        {{item.pack.name.current}}
                        <ul style="list-style-type: disc;">
                          @each(inventory in item.pack.inventories)
                            <li>
                              {{inventory.product.name.current}}
                              <ul style="list-style-type: disc;">
                                <li>
                                  {{inventory.name.current}}
                                </li>
                                <li>
                                  {{ t('messages.emails.checkOrder.skuField', { sku: inventory.sku }) }}
                                </li>
                              </ul>
                            </li>
                          @end
                          <li>
                            {{ t('messages.emails.checkOrder.quantityField', { quantity: item.quantity.toString() }) }}
                          </li>
                          <li>
                            {{ t('messages.emails.checkOrder.totalField', { amount: (item.pack.price * item.quantity).toFixed(2) }) }} €
                          </li>
                        </ul>

                      @elseif(item.inventory)
                        {{item.inventory.product.name.current}}
                        <ul style="list-style-type: disc;">
                          <li>
                            {{item.inventory.name.current}}
                          </li>
                          <li>
                            {{ t('messages.emails.checkOrder.skuField', { sku: item.inventory.sku }) }}
                          </li>
                          <li>
                            {{ t('messages.emails.checkOrder.quantityField', { quantity: item.quantity.toString() }) }}
                          </li>
                          <li>
                            {{ t('messages.emails.checkOrder.totalField', { amount: (item.inventory.realPrice * item.quantity).toFixed(2) }) }} €
                          </li>
                        </ul>
                      @else
                        {{ t('messages.emails.checkOrder.productReference') }}
                        <ul style="list-style-type: disc;">
                          <li>
                            {{ t('messages.emails.checkOrder.quantityField', { quantity: item.quantity.toString() }) }}
                          </li>
                        </ul>
                      @end
                    </li>
                  @end
                </ul>
              </li>
              <li>
                {{ t('messages.emails.checkOrder.totalField', { amount: Number(order.transaction.amount).toFixed(2) }) }} €
              </li>
            </ul>
          </div>

          @!component('emails/footer', {
            i18n,
            appName,
            currentYear,
          })

        </td>
      </tr>
    </table>
  </body>
</html>
