<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  </head>
  <body style="padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;" marginheight="0" marginwidth="0">
    <table cellpadding="8" cellspacing="0" style="padding: 0; width: 100% !important; margin: 0;" border="0">
      <tr>
        <td valign="top" style="color: #525C66; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; -webkit-text-size-adjust: none;">

          @!component('emails/header', {
            i18n,
            appName,
            appDomain,
            user,
          })

          <div style="text-align: center;">
            <p style="font-size: 18px;">
              {{ t('messages.emails.checkOrder.description') }}
            </p>
            <ul style="list-style-type: disc; line-height: 24px; display: inline-block; text-align: left;">
              <li>
                {{ t('messages.emails.checkOrder.numberField', { id: order.id }) }}
              </li>
              <li>
                {{ t('messages.emails.checkOrder.statusField', { status: order.bigbuy.status }) }}
              </li>
              <li>
                {{ t('messages.emails.checkOrder.dateField', { orderDate: new Date(order.createdAt) }) }}
              </li>
              <li>
                @if(order.braintree.creditCard.cardType !== '')
                  {{ t('messages.emails.checkOrder.paidCard', { cardType: order.braintree.creditCard.cardType, last4: order.braintree.creditCard.last4 }) }}
                @elseif(order.braintree.paypalAccount.payerEmail != '')
                  {{ t('messages.emails.checkOrder.paidPaypal', { payerEmail: order.braintree.paypalAccount.payerEmail }) }}
                @end
              </li>
              @if(order.braintree.billing.addressLine1 && order.braintree.billing.addressLine1 !== '')
                <li>
                  {{ t('messages.emails.checkOrder.billing') }}
                  <ul style="list-style-type: disc;">
                    <li>
                      {{order.braintree.billing.firstName}} {{order.braintree.billing.lastName}}
                    </li>
                    <li>
                      {{order.braintree.billing.addressLine1}}
                    </li>
                    @if(order.braintree.billing.addressLine2 && order.braintree.billing.addressLine2 !== '')
                      <li>
                        {{order.braintree.billing.addressLine2}}
                      </li>
                    @end
                    <li>
                      {{order.braintree.billing.postalCode}} {{order.braintree.billing.locality}}
                    </li>
                    <li>
                      {{order.braintree.billing.country}}
                    </li>
                  </ul>
                </li>
              @end
              <li>
                {{ t('messages.emails.checkOrder.shipping') }}
                <ul style="list-style-type: disc;">
                  <li>
                    {{order.bigbuy.shipping.firstName}} {{order.bigbuy.shipping.lastName}}
                  </li>
                  <li>
                    {{order.bigbuy.shipping.addressLine1}}
                  </li>
                  @if(order.bigbuy.shipping.addressLine2 && order.bigbuy.shipping.addressLine2 !== '')
                    <li>
                      {{order.bigbuy.shipping.addressLine2}}
                    </li>
                  @end
                  <li>
                    {{order.bigbuy.shipping.postalCode}} {{order.bigbuy.shipping.locality}}
                  </li>
                  <li>
                    {{order.bigbuy.shipping.country}}
                  </li>
                </ul>
              </li>
              <li>
                {{ t('messages.emails.checkOrder.products') }}
                <ul style="list-style-type: disc;">
                  @each(product in order.bigbuy.products)
                    <li>
                      @if(product.inventory)
                        {{product.inventory.product.name.current}}
                      @else
                        {{product.name}}
                      @end
                      <ul style="list-style-type: disc;">
                        @if(product.inventory)
                          <li>
                            {{product.inventory.name.current}}
                          </li>
                        @else
                          <li>
                            {{ t('messages.emails.checkOrder.productReference') }}
                          </li>
                        @end
                          <li>
                            {{ t('messages.emails.checkOrder.quantityField', { quantity: product.quantity.toString() }) }}
                          </li>
                          <li>
                            {{ t('messages.emails.checkOrder.skuField', { sku: product.reference }) }}
                          </li>
                        @if(product.inventory)
                          <li>
                            {{(product.inventory.realPrice * product.quantity).toFixed(2)}} €
                          </li>
                        @end
                      </ul>
                    </li>
                  @end
                </ul>
              </li>
              <li>
                {{ t('messages.emails.checkOrder.totalField', { amount: Number(order.braintree.amount).toFixed(2) }) }} €
              </li>
            </ul>
          </div>

          @!component('emails/footer', {
            i18n,
            appName,
            currentYear,
          })

        </td>
      </tr>
    </table>
  </body>
</html>
