<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  </head>
  <body style="padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;" marginheight="0" marginwidth="0">
    <table cellpadding="8" cellspacing="0" style="padding: 0; width: 100% !important; margin: 0;" border="0">
      <tr>
        <td valign="top">

          @!component('emails/header', {
            i18n,
            appName,
            appDomain,
            username: user.firstName,
          })

          <table cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
              <td width="400" style="padding: 0; border-collapse: collapse;">
                <table cellpadding="0" cellspacing="0" align="center" border="0">
                  <tr>
                    <td style="color: #525C66; font-size: 16px; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; -webkit-text-size-adjust: none;">
                      {{description}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td width="400" style="padding: 0; border-collapse: collapse;">
                <table cellpadding="0" cellspacing="0" align="center" border="0">
                  <tr>
                    <td style="color: #525C66; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; -webkit-text-size-adjust: none;">
                      <table border="0" cellpadding="0" cellspacing="0" style="background-color: #687854; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin-top: 34px;" align="center" valign="middle">
                        <tr>
                          <td align="center" valign="middle" style="padding: 18px 50px; text-align: center;">
                            <a style="color: #fff; text-decoration: none; display: inline-block;" href="{{btnUrl}}">{{btnTxt}}</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          @!component('emails/footer', {
            i18n,
            appName,
            currentYear,
          })

        </td>
      </tr>
    </table>
  </body>
</html>
